<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<style>
	.youtubeplayer {
		width: 50%;
	}

	.youtubeplayercontainer {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}

	.youtubeplayercontainer iframe, .youtubeplayercontainer object, .youtubeplayercontainer embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.youtubetimeline {
	    height: 15px;
	    margin-top: -10px;
	}

	.youtubetimeline .currentposition {
	    top: 0px;
	    left: 0px;
	    width: 10px;
	    height: 10px;
		border: 5px solid #eaeaea;
		background: #aeaeae;
		border-radius: 8px;
	    margin-top: -12px;
	    z-index: 300;
	    box-shadow: 0px 0px 10px blue;
		cursor:pointer;
  	}
	.youtubetimeline .currentposition:hover {
	}

	.youtubetimeline .timeline {
	    width: 100%;
	    height: 10px;
	    border: 1px solid black;
	    z-index: 200;
	    position: relative;
	    background-color: white;
	}
</style>
<script>
	function onYouTubeIframeAPIReady(event) {
		angular.element(document.querySelector('body')).scope().$broadcast("playerAPIloaded");
	}

	angular.module('ngTube',[])
	.directive("ngTube", function(){
		return {
			restrict: "E",
			scope : {
				mediaUrl : "@"
			},
			link : function ($scope, element, attrs){
				var head = document.getElementsByTagName('head').item(0);
				var script = document.createElement('script');
				script.setAttribute('type', 'text/javascript');
				script.setAttribute('src', 'https://www.youtube.com/iframe_api');
				head.appendChild(script);


				$scope.dragging = false;

				element[0].querySelector(".timeline").addEventListener(
		            'click',
		            function(e) {
						$scope.scrollTo(e.offsetX);
		            },
		            false
		        );

				var el = element[0].querySelector(".currentposition")


				el.addEventListener(
		            'dragstart',
		            function(e) {
		                $scope.dragging = true;
		            },
		            false
		        );


				el.addEventListener(
		            'drag',
		            function(e) {
		            	console.log("drag - " + e.x);
		                $scope.setPosition(e.x);
		                $scope.$digest();
		            },
		            false
		        );

				el.addEventListener(
		            'dragend',
		            function(e) {
		            	console.log("end - " + e.x);
		                $scope.dragging = false;
		            	$scope.scrollTo(e.x);
		            },
		            false
		        );

		        $scope.cursorSize = element[0].querySelector(".youtubetimeline .currentposition").offsetWidth;
				$scope.scrollWidth = element[0].querySelector(".youtubetimeline .timeline").offsetWidth;

			},
		    template : ""+
				"<div class='youtubeplayer'> "+
					"<div class='youtubeplayercontainer'> "+
				    	"<div id='youtubeplayer'></div> "+
					"</div> "+
				    "<div class='youtubetimeline'> "+
				        "<div class='timeline'></div> "+
				        "<div draggable='true' class='currentposition' ng-style=\"{'left':leftOffset}\"></div> "+
				    "</div> "+
				    "<button ng-click='goBack()''><span class='glyphicon glyphicon-repeat'></span> 10s</button> "+
				    "<button ng-class=\"{'btn-success':ytplayer.getPlayerState() != 1,'btn-warning':ytplayer.getPlayerState() == 1}\" ng-click='playPause()''><span class='glyphicon glyphicon-play'></span> <span class='glyphicon glyphicon-pause'></span></button> "+
				    "<button ng-class=\"{'btn-success':ytplayer.isMuted() != 1,'btn-warning':ytplayer.isMuted() == 1}\" ng-click='mute()'><span class='glyphicon glyphicon-volume-off'></span></button> "+
				"</div> "
		    ,
		    controller : ["$scope","$interval",function($scope,$interval){
		        $scope.$on("playerAPIloaded", function () {
					$scope.ytplayer = new YT.Player('youtubeplayer', {
						playerVars: { 'autoplay': 0, 'controls': 0, 'iv_load_policy': 3, 'playsinline': 1, 
							'rel': 0, 'showinfo': 0, 'theme': 'light', wmode: 'opaque' },
						events: {
							'onReady': function () {
								
								$scope.ytplayer.cueVideoByUrl({ 
									mediaContentUrl: $scope.mediaUrl 
								});

								$scope.ytplayer.mute();
								$scope.ytplayer.playVideo();

								var timeDetector = $interval(function(){
									if ($scope.ytplayer.getDuration() > 0) {
										$scope.ytplayer.pauseVideo();
									    $scope.ytplayer.unMute();

										$scope.scrollRatio  = $scope.scrollWidth / $scope.ytplayer.getDuration();
										$scope.ytplayer.seekTo(0);
										$interval.cancel(timeDetector);
									}
								},20);

							}
						}
					});
				});

				var scroller = $interval(function () {
					if ($scope.ytplayer && $scope.ytplayer.getCurrentTime) {
						$scope.currentTime = $scope.ytplayer.getCurrentTime();
						
						if (!$scope.dragging)
			            	$scope.setPosition($scope.currentTime * $scope.scrollRatio);
			        }
				},100);

		        $scope.$on("$destroy", function () {
		          if (angular.isDefined(scroller)) {
		            interval.cancel(scroller);
		            scroller = undefined;
		          }
		        });

		        $scope.setPosition = function (x) {
		          $scope.leftOffset = (x - $scope.cursorSize / 2) + "px";
		        }

		        $scope.playPause = function () {
		          if ($scope.ytplayer.getPlayerState() == 1)
		            $scope.ytplayer.pauseVideo();
		          else
		            $scope.ytplayer.playVideo();
		        }

		        $scope.goBack = function () {
		          var curtime = $scope.ytplayer.getCurrentTime();
		          $scope.ytplayer.seekTo(curtime - 10);
		        }

		        $scope.mute = function () {
		        	if ($scope.ytplayer.isMuted())
		        		$scope.ytplayer.unMute();
		        	else
		        		$scope.ytplayer.mute();
		        }

		        $scope.scrollTo = function (x) {
		          var position = x / $scope.scrollRatio;
		          scrollPlayer(position);
		          $scope.setPosition(x);
		        }

		        var scrollPlayer = function (position) {
		          $scope.ytplayer.seekTo(position);
		        }

		    }]
   		}
   	});

</script>
</head>
<body ng-app="ngTube">
	<ng-tube media-url="https://www.youtube.com/v/QH2-TGUlwu4" />
</body>
</html>